<div class="intro-container">
  <div class="intro-text">
    <h1>_Hello, World!_</h1>
    <p>
      I’m Oumaima, and I am a <span class="highlight">{{ currentText }}</span>
      <span class="cursor"></span>
    </p>
    <p>
      A passionate and driven junior developer with a strong commitment to learning and innovation.
    </p>
  </div>

  <div class="intro-image">
    <img src="./assets/img/profile-pic.png" alt="Profile Picture" width="500" height="500" />
  </div>
</div>

<div class="socials">
  <a href="https://github.com/OumaimaZerouali" target="_blank" aria-label="GitHub">
    <i class="bx bxl-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/oumaima-zerouali-16b189223/" target="_blank" aria-label="LinkedIn">
    <i class="bx bxl-linkedin"></i>
  </a>
</div>


<div class="terminal-icon" (click)="toggleTerminal()">
  <i class="bx bx-terminal"></i>
</div>

@if(isTerminalOpen){
  <div class="terminal-container">
    <app-terminal (terminalClosed)="handleTerminalClosed()"></app-terminal>
  </div>
}
